.poneyClubContainer{
    .card{
        margin-bottom: 30px;
    }
    button{
        margin: 22px 0px;
        width: 120px;
        background-color: #b71540;
        border-color: #b71540;
    }
}

h2{
    text-align: center;
    font-family: "AvenirLTStd-Medium", sans-serif;
    margin-bottom: 40px;
}
