.poneyClubContainer{
    .card{
        margin-bottom: 30px;

    }
    button{
        margin: 26px 0px;
        width: 120px;
    }
}

h2{
    text-align: center;
    font-family: "AvenirLTStd-Medium", sans-serif;
}
