.textPresentation p{
  text-align: center;
}
h2{
  text-align: center;
  margin: 20px 0px 40px 0px;
  font-family: $interTitreFont;
  font-size: $interTitreSize;
}

.block{
  margin-top: 2em;
  display: flex;
  justify-content: space-between;
  padding: 1em;
  border: 1px solid red;
}


.img{
  display: flex;
}

.text{
  ul{
    list-style: none;
    li{
      color: #666666;
      font-family: "Avenir Roman", sans-serif;
      font-size: 16px;
    }
  }
}
