.contactContainer{
    button{
        margin: 22px 40px;
        width: 120px;
    }
    #fb{
        background-color: #4267B2;
        border: 0px;
    }
    #insta{
        background-color: #D5417F;
        border: 0px;
    }
}

.formContainer{
    p{
        text-align: center;
    }
}
