.carousel-item {
  height: 100vh;
  min-height: 300px;
  background: no-repeat center center scroll;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
hr{
    width: 30%;
}

h1{
    text-align: center;
    margin: 20px 0px 40px 0px;
    font-family: $interTitreFont;
    font-size: $interTitreSize;
}

p{
    font-size:$courantTextSize;
    font-family: $courantTextFont;
    color: $courantTextColor;
}

.actuContainer{

}

.actuContainer img{
}

.actuContainer p{
    text-align: center;
}

.histoireContainer{
    img{
        padding: 5px;
    }
}

.parallax {
    /* The image used */
    background-image: url("../images/chavalNoir.jpg");

    /* Set a specific height */
    height: 500px;

    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    p{
        color: white;
    }
    h1{
        color: white;
        padding-top: 20px;
    }
}


.contactContainer{
  padding-bottom: 2em;
    p{
        text-align: center;
    }
}


.card{
  margin-bottom:30px;
}

.button-poneyClub{
  margin-top:2em;
  margin-bottom: 2em;
  background-color: rgba(0,0,0,0);
  color:#fff;
  border-color: #fff;
}

.button-poneyClub:hover{
  background-color: white;
  border: #666666 solid 1px;
  color:#666666;
}

.button-installations{
  margin-top:2em;
  margin-bottom: 2em;
  background-color: rgba(0,0,0,0);
  color:#666666;
  border-color: #666666;
}

.button-installations:hover{
  background-color: white;
  border: #666666 solid 1px;
  color:#666666;
}

a{
  text-decoration: none;
  color:#000;
}

a:hover{
  text-decoration: none;
  color:#000;
}
