.presentationInstallations p{
  text-align: center;
}

/*.imgBlockBig{
      height: 300px;
      width: auto;
      overflow: hidden;
      position: relative;
        img{
          position: absolute;
          bottom: -150px;
        }
}*/

.card{
    min-height: 404.45px
}
