footer{
  width:100%;
  font-size: 0.9em;
}

.text-footer{
  text-align:center;
  color: #666666;
  text-decoration: none;
  display:flex;
  justify-content: space-around;
  align-items: center;
  
}

footer{
  a:hover{
    text-decoration: none;
    color:#666666;
  }
}

.row{
  margin-right: 0px;
  margin-left: 0px;

}

footer{
  -webkit-box-shadow: 0px -2px 10px -8px rgba(0,0,0,0.75);
  -moz-box-shadow: 0px -2px 10px -8px rgba(0,0,0,0.75);
  box-shadow: 0px -2px 10px -8px rgba(0,0,0,0.75);
  align-items: center;
  .row{
    a{
      display:flex;
      align-items:center;
      justify-content: space-around;
    }
  }
}
